# Problem Statement

# Background

# Data Import

In [1]:
#import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
#read csv
telco = pd.read_csv('../data/telco_churn_data')

#set display max 100
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',100)

In [11]:
#drop lat_long as longitude and latitude col is present
#drop country and states as all data from same location
#drop quarter as all data is in Q3

telco = telco.drop(columns=['country','state','lat_long', 'quarter'])

In [12]:
telco.head()

,index,count,gender,age,under_30,senior_citizen,married,dependents,number_of_dependents,city,zip_code,latitude,longitude,partner,tenure_months,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv,churn_reason,referred_a_friend,number_of_referrals,tenure_in_months,offer,avg_monthly_long_distance_charges,internet_type,avg_monthly_gb_download,device_protection_plan,premium_tech_support,streaming_music,unlimited_data,monthly_charge,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue,satisfaction_score,customer_status,churn_category,population
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0,Los Angeles,90022,34.02381,-118.156582,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65,Yes,1,100,5433,Competitor offered more data,No,0,1,None,0.00,DSL,8,Yes,No,No,No,39.65,0.0,20,0.00,59.65,3,Churned,Competitor,68701
1,4737-AQCPU,1,Male,39,No,No,Yes,No,0,Los Angeles,90022,34.02381,-118.156582,Yes,72,Yes,Yes,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,Credit card (automatic),72.10,5016.65,No,0,42,4658,NaN,Yes,5,72,None,42.55,DSL,18,Yes,Yes,No,Yes,72.10,0.0,0,3063.60,8080.25,3,Stayed,NaN,68701
2,5043-TRZWM,1,Female,32,No,No,No,No,0,Los Angeles,90022,34.02381,-118.156582,No,1,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,No,Electronic check,75.55,75.55,No,0,34,3503,NaN,No,0,1,None,7.11,Fiber Optic,26,Yes,No,No,Yes,75.55,0.0,0,7.11,82.66,5,Joined,NaN,68701
3,8165-CBKXO,1,Male,35,No,No,Yes,Yes,3,Los Angeles,90022,34.02381,-118.156582,Yes,66,No,No phone service,DSL,No,Yes,Yes,No,Yes,Yes,Two year,Yes,Credit card (automatic),56.75,3708.4,No,0,46,5748,NaN,Yes,4,66,None,0.00,Cable,25,Yes,No,Yes,Yes,56.75,0.0,0,0.00,3708.40,3,Stayed,NaN,68701
4,9979-RGMZT,1,Female,20,Yes,No,No,No,0,Los Angeles,90022,34.02381,-118.156582,No,7,Yes,No,Fiber optic,No,Yes,No,No,Yes,Yes,One year,Yes,Mailed check,94.05,633.45,No,0,38,5545,NaN,No,0,7,Offer E,36.49,Fiber Optic,42,No,No,Yes,Yes,94.05,0.0,0,255.43,888.88,3,Stayed,NaN,68701

In [13]:
#columns with Yes/No output to udpate to binary 
columns = ['under_30', 'senior_citizen', 'married', 'dependents','partner',
           'phone_service','paperless_billing','churn_label','referred_a_friend',
           'device_protection_plan','premium_tech_support','streaming_music',
            'unlimited_data','online_security','online_backup', 
           'device_protection','tech_support','streaming_tv','streaming_movies','multiple_lines']

In [14]:
#replacement of values
telco[columns] = telco[columns].replace({'No': 0, 'Yes': 1,'No internet service': 0, 'No phone service':0})
telco['gender'] = telco['gender'].replace({'Male': 1,'Female': 2})

#rename contract to num of months
telco['contract'] = telco['contract'].replace({'Month-to-month': 1, 'Two year': 24, 'One year':12})

In [15]:
#null in churn cat and churn reason
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 54 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              7043 non-null   object
 1   count                              7043 non-null   int64
 2   gender                             7043 non-null   int64
 3   age                                7043 non-null   int64
 4   under_30                           7043 non-null   int64
 5   senior_citizen                     7043 non-null   int64
 6   married                            7043 non-null   int64
 7   dependents                         7043 non-null   int64
 8   number_of_dependents               7043 non-null   int64
 9   city                               7043 non-null   object
 10  zip_code                           7043 non-null   int64
 11  latitude                           7043 non-null   float64
 12  longitude                          7043 non-null   float64
 13  partner                            7043 non-null   int64
 14  tenure_months                      7043 non-null   int64
 15  phone_service                      7043 non-null   int64
 16  multiple_lines                     7043 non-null   int64
 17  internet_service                   7043 non-null   object
 18  online_security                    7043 non-null   int64
 19  online_backup                      7043 non-null   int64
 20  device_protection                  7043 non-null   int64
 21  tech_support                       7043 non-null   int64
 22  streaming_tv                       7043 non-null   int64
 23  streaming_movies                   7043 non-null   int64
 24  contract                           7043 non-null   int64
 25  paperless_billing                  7043 non-null   int64
 26  payment_method                     7043 non-null   object
 27  monthly_charges                    7043 non-null   float64
 28  total_charges                      7043 non-null   object
 29  churn_label                        7043 non-null   int64
 30  churn_value                        7043 non-null   int64
 31  churn_score                        7043 non-null   int64
 32  cltv                               7043 non-null   int64
 33  churn_reason                       1869 non-null   object
 34  referred_a_friend                  7043 non-null   int64
 35  number_of_referrals                7043 non-null   int64
 36  tenure_in_months                   7043 non-null   int64
 37  offer                              7043 non-null   object
 38  avg_monthly_long_distance_charges  7043 non-null   float64
 39  internet_type                      7043 non-null   object
 40  avg_monthly_gb_download            7043 non-null   int64
 41  device_protection_plan             7043 non-null   int64
 42  premium_tech_support               7043 non-null   int64
 43  streaming_music                    7043 non-null   int64
 44  unlimited_data                     7043 non-null   int64
 45  monthly_charge                     7043 non-null   float64
 46  total_refunds                      7043 non-null   float64
 47  total_extra_data_charges           7043 non-null   int64
 48  total_long_distance_charges        7043 non-null   float64
 49  total_revenue                      7043 non-null   float64
 50  satisfaction_score                 7043 non-null   int64
 51  customer_status                    7043 non-null   object
 52  churn_category                     1869 non-null   object
 53  population                         7043 non-null   int64
dtypes: float64(8), int64(36), object(10)
memory usage: 2.9+ MB

In [16]:
# managing isnull values as N/A
telco.churn_reason = telco.churn_reason.fillna('NA')
telco.churn_category = telco.churn_category.fillna('NA')

In [17]:
telco.head()

,index,count,gender,age,under_30,senior_citizen,married,dependents,number_of_dependents,city,zip_code,latitude,longitude,partner,tenure_months,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv,churn_reason,referred_a_friend,number_of_referrals,tenure_in_months,offer,avg_monthly_long_distance_charges,internet_type,avg_monthly_gb_download,device_protection_plan,premium_tech_support,streaming_music,unlimited_data,monthly_charge,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue,satisfaction_score,customer_status,churn_category,population
0,8779-QRDMV,1,1,78,0,1,0,0,0,Los Angeles,90022,34.02381,-118.156582,0,1,0,0,DSL,0,0,1,0,0,1,1,1,Electronic check,39.65,39.65,1,1,100,5433,Competitor offered more data,0,0,1,None,0.00,DSL,8,1,0,0,0,39.65,0.0,20,0.00,59.65,3,Churned,Competitor,68701
1,4737-AQCPU,1,1,39,0,0,1,0,0,Los Angeles,90022,34.02381,-118.156582,1,72,1,1,DSL,1,1,1,1,0,0,24,0,Credit card (automatic),72.10,5016.65,0,0,42,4658,NA,1,5,72,None,42.55,DSL,18,1,1,0,1,72.10,0.0,0,3063.60,8080.25,3,Stayed,NA,68701
2,5043-TRZWM,1,2,32,0,0,0,0,0,Los Angeles,90022,34.02381,-118.156582,0,1,1,0,Fiber optic,0,0,1,0,0,0,1,0,Electronic check,75.55,75.55,0,0,34,3503,NA,0,0,1,None,7.11,Fiber Optic,26,1,0,0,1,75.55,0.0,0,7.11,82.66,5,Joined,NA,68701
3,8165-CBKXO,1,1,35,0,0,1,1,3,Los Angeles,90022,34.02381,-118.156582,1,66,0,0,DSL,0,1,1,0,1,1,24,1,Credit card (automatic),56.75,3708.4,0,0,46,5748,NA,1,4,66,None,0.00,Cable,25,1,0,1,1,56.75,0.0,0,0.00,3708.40,3,Stayed,NA,68701
4,9979-RGMZT,1,2,20,1,0,0,0,0,Los Angeles,90022,34.02381,-118.156582,0,7,1,0,Fiber optic,0,1,0,0,1,1,12,1,Mailed check,94.05,633.45,0,0,38,5545,NA,0,0,7,Offer E,36.49,Fiber Optic,42,0,0,1,1,94.05,0.0,0,255.43,888.88,3,Stayed,NA,68701

### Category - internet service, payment method, churn reason, offer, internet type, customer status, churn category

In [12]:
telco.internet_type.unique()

array(['DSL', 'Fiber Optic', 'Cable', 'None'], dtype=object)

In [83]:
telco.offer.unique()

array(['None', 'Offer E', 'Offer D', 'Offer C', 'Offer B', 'Offer A'],
      dtype=object)

In [75]:
telco.internet_service.unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [74]:
telco.payment_method.unique()

array(['Electronic check', 'Credit card (automatic)', 'Mailed check',
       'Bank transfer (automatic)'], dtype=object)

In [13]:
telco.customer_status.unique()

array(['Churned', 'Stayed', 'Joined'], dtype=object)

In [76]:
telco.zip_code.value_counts()

92173    5
92201    5
92057    5
90010    5
92061    5
        ..
95562    4
94080    4
93517    4
96123    4
95316    4
Name: zip_code, Length: 1652, dtype: int64

In [78]:
telco.city.value_counts()

Los Angeles      305
San Diego        150
San Jose         112
Sacramento       108
San Francisco    104
                ...
Douglas City       4
Delano             4
Smith River        4
Wildomar           4
Fulton             4
Name: city, Length: 1129, dtype: int64